image-element {
    overflow: hidden;

    & img {
        transition: opacity 0.4s;

        &.blurry {
            opacity: 0.6;
            filter: blur(30px);
        }

        &.sharp {
            opacity: 1;
            animation: sharpen 0.6s both;
        }
    }
}

@keyframes sharpen {
    from {
        filter: blur(30px);
    }
    to {
        filter: blur(0px)
    }
}
